<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../assets/icons/6156.jpg" class="img-fluid rounded-start" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">The Ocean Clean Up</h5>
        <p class="card-text">
          Donate to support removing plastic from the ocean
        </p>
        <p class="card-text">
          <a
            href="https://theoceancleanup.com/donate/"
            target="_blank"
            class="text-muted"
            >Go donate</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
